- provide(:title, 'Actualizar movimiento bancario')
- provide(:button_text, 'Actualizar movimiento bancario')
- provide(:form_title, 'Actualizar movimiento')

.row
  .col-xs-12
    .page-header
      %h1 Actualizar descripción de
      %h1 "#{@movement.concept}"
.inner-wrapper
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .form-box
        = form_for(@movement) do |f|
          = render 'form', f: f