- provide(:title, 'Actualizar movimiento bancario')
- provide(:button_text, 'Actualizar movimiento bancario')

%h2 Actualiza la descripción de "#{@movement.concept}"
= form_for(@movement) do |f|
  = render 'form', f: f