- provide(:title, 'Movimientos bancarios')

.row
  .col-xs-12
    .page-header
      %h1 Movimientos bancarios de los extractos importados
.inner-wrapper
  -if @movements.empty?
    %p No hay ningún movimiento procedente de los extractos bancarios con valor positivo ahora mismo
  -else
    .row
      .col-xs-12
        .pagination
          = will_paginate @movements, class: 'flickr_pagination'
    = render 'movements/tables/index'
    .row
      .col-xs-12
        .pagination
          = will_paginate @movements, class: 'flickr_pagination'