- provide(:title, 'Extractos en la nube')

.row
  .col-xs-12
    .page-header
      %h1 Archivos originales de los extractos
.row
  .col-xs-12
    %p Los archivos que se ven a continuación son los archivos que se han importado en la aplicación y están guardados en la nube.
.inner-wrapper
  - if @statements.empty?
    %p No hay ningún extracto bancario en la aplicación.
  - else
    .row
      .col-xs-12
        .pagination
          = will_paginate @statements, class: 'flickr_pagination'
    = render 'statements/tables/bucket'
    .row
      .col-xs-12
        .pagination
          = will_paginate @statements, class: 'flickr_pagination'