- provide(:title, 'Actualizar extracto bancario')
- provide(:button_text, 'Actualizar extracto bancario')

%h2 Actualizar extracto bancario #{@statement.name}
= form_for(@statement) do |f|
  = render 'form', f: f