-#TODO añadir columnas de bootstrap en las páginas

%h1 Aquí están todos los extractos bancarios
-@statements.each do |statement|
  %p
    =link_to "Extracto #{statement.name} | ", statement_path(statement)
    =link_to 'Borrar extracto bancario', statement, method: :delete, data: { confirm: '¿Estás seguro?'}